@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600);
h1, h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight:300;
  text-align:center;
}
.hide{
	display:none;
}
.container {
  width:360px;
  margin:0 auto;
  position:relative;
  perspective:800;
  -webkit-perspective:800;
  -moz-perspective:800;
}
.theCard {
	color:white;
  width:100%;
  height:100%;
  position:absolute;
  -webkit-transition: -webkit-transform 1s;
  transition: all 1.0s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
figure {
  display: block;
  position: absolute;
  min-height:175px;
  width:330px;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
.theCard.flipped {
  -webkit-transform: rotateY(180deg);
}
.theCardFront,
.theCardBack{
  background-color:#3367D6;
  border-radius:5px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin:0 auto;
  color:#444;
  padding:15px;
}
.theCardBack {
	z-index:3;
  -webkit-transform: rotateY(180deg);
  transform:rotateY(180deg);
}
.instructions {
  text-align:center;
  float:left;
  margin:0 0 .5em;
}
.variousCards {
  float:right;
}
.cardImg {
  display:inline-block;
  margin:0 0 0 10px;
  opacity: .5;
  background-image:url('../images/visa.png');
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  width:30px;
}
.active {
    opacity:1;
}
.clear {
  clear:both;
  float:none;
}
small {
  margin:5px 0;
  font-style:italic;
}
.signIn,
.pay{
  display:inline-block;
  background-color:#f5f7fb;
  color:#e09999;
  text-decoration:none;
  padding:5px 10px;
  border:none;
  border-radius:5px;
  border-bottom:2px solid #528B8B;
  transition: .5s background-color;
  font-weight:600;
}
.signIn:hover,
.pay:hover{
  background-color:#fbf8c0;
  cursor:pointer;
}
input {
  font-size:1em;
  padding:.15em;
  text-align:center;
  outline:none;
}
.cardNumber{
	color:white;
}
.cardNumber input{
  width:20.9%;
  color:#e01034;
  margin:.75em .05em; 
}
.cardExpiration{
  float:left;
  color:white;
  width:50%;
}
.month {
  width:20%;
}
.year {
  width:35%;
}
.cardSecurity {
  float:right;
  width:50%;
  color:white;
  position:relative;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
.cardSecurity small {
}
.csc {
  width:22%;
  margin:0 .5em 0 0;
}
.help {
	display:none;
	color:#fff;
	background-color:#999;
	padding:10px;
	max-width:175px;
	font-size:.85em;
	border-radius:3px;
	border-bottom:3px solid #888;
	position:absolute;
	bottom:-6em;
	right:30px;
	z-index:100;
}
.help:before {
	content:' ';
	display:inline-block;
	border-bottom:10px solid #999;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	position:absolute;
	top:-10px;
	left:15px;
}
.tooltip:hover {
  text-decoration:underline;
  cursor:pointer;
}
.tooltip:hover ~ .help{
  display:inline-block;
}
.pay,
input.signIn {
  margin:10px 0 0;
  width:100%;
}
.login input {
  width:50%;
}

#holder{    
height:350px;    
border-radius:5px;
width:150px;
background-color:#ffffff;
border:1px solid #A4A4A4;
display:inline-block;
}
#place {
position:relative;
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
margin:7px;
}
#place a{
font-size:0.6em;
}
#place li
{
 list-style: none outside none;
 position: absolute;   
}    
#place li:hover
{
background-color:yellow;      
} 
#place .seat{
	background:url("../images/available_seat_img.gif") no-repeat scroll 0 0 transparent;
	height:20px;
	padding : 0px 0px;
	width:20px;
	vertical-align:top;
}
#place .selectedSeat
{ 
background-image:url("../images/booked_seat_img.gif");          
}
#place .selectingSeat
{ 
background-image:url("../images/selected_seat_img.gif");        
}
#place .row-3, #place .row-4{
margin-top:10px;
}
#seatDescription{
	padding-left:10px;
}
#seatDescription li{
verticle-align:middle;    
list-style: none outside none;
padding-left:35px;
height:25px;
color:white;
float:left;
}
#custInfo{
	border : 2px solid yellow;
	border-radius:5px;
	font-size:0.64em;
	font-weight:bold;
	color:white;
}
#ticket{
	color: white !important;
    background-color: #6b6b6b !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 1px 0px #0098ff !important;
    font-size: 0.85em !important;
    font-weight: 550 !important;
    padding-top: 10px !important;
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid #0098ff;
}
#ticket td{
}
#ticket th{
	color: #d2e2fb !important;
    border-bottom: 1px solid white !important;
    box-shadow: 0px 1px 2px 0px !important;
    border-radius: 10px !important;
	text-align:center !important;
}
.ticketspan{
	color: #eef5bb;
}
.textColor{
	color:#0004b8 !important;
}
.scrollbar-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* background-color: #343434; */
	border-radius: 1px;
}

.scrollbar-style::-webkit-scrollbar
{
	width: 6px;
	/* background-color: #343434; */
}

.scrollbar-style::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #888;
	/* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(115, 47, 47)), color-stop(0.72, rgb(224, 120, 120)), color-stop(0.86, rgb(235, 38, 67))); */
}    

.carouselScrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* background-color: #343434; */
	border-radius: 1px;
	
}

.carouselScrollbar::-webkit-scrollbar
{
	width: 3px;
	/* background-color: #343434; */
}

.carouselScrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(115, 47, 47)), color-stop(0.72, rgb(224, 120, 120)), color-stop(0.86, rgb(235, 38, 67))); */
} 

.padding-left2px 
{
  padding-left: 2px !important; 
}

.send-button {
  background-color: #fff !important;
  box-shadow: none !important;
  margin-top: 11px !important;
  margin-left: 5px;
}

.padding-10px {
  padding: 10px;
}

.btn-test.active, .btn-test:active, .dropdown-toggle.btn-test.active, .dropdown-toggle.btn-test:active {
  background-color : black !important;
  padding: 15px !important;
  border : solid 1px #03a9f4 !important;
  color : #4d4c4c !important;
  text-transform: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(0, 0, 0, 0)
}

.btn-test:hover, .dropdown-toggle.btn-test:hover {
  background-color : #0088ff !important;
  padding: 15px !important;
  color : #fff ;
  text-transform: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(0, 0, 0, 0)
}

.btn-test, .dropdown-toggle.btn-test {
  background-color : red !important;
  padding: 15px !important;
  color : #fff ;
  text-transform: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(0, 0, 0, 0)
}

.btn-test-checkbox:active, .btn-test-checkbox:checked:active .btn-test-checkbox:checked:after{
  background-color : #fff !important;
  padding: 15px !important;
  border : solid 1px #03a9f4 !important;
  color : #4d4c4c ;
  text-transform: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(0, 0, 0, 0)
}